[submodule "src/gazebo_ros_battery"]
	path = src/gazebo_ros_battery
	url = https://github.com/nilseuropa/gazebo_ros_battery.git
[submodule "src/m-explore"]
	path = src/m-explore
	url = https://github.com/hrnr/m-explore.git
[submodule "src/rosbot_ekf"]
	path = src/rosbot_ekf
	url = https://github.com/husarion/rosbot_ekf.git
[submodule "src/rplidar_ros"]
	path = src/rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros.git
[submodule "src/tutorial_pkg"]
	path = src/tutorial_pkg
	url = https://github.com/husarion/tutorial_pkg.git
